# Online Food Ordering

### About Data

#### **Description:**
##### This project is based on the analysis of a dataset of online food orders, with the aim of exploring the relationships between demographic factors, location and customer behavior.
#### **Attributes:**
##### Age: Age of the customer.
##### Gender: Gender of the customer.
##### Marital Status: Marital status of the customer.
##### Occupation: Occupation of the customer.
##### Monthly Income: Monthly income of the customer.
##### Educational Qualifications: Educational qualifications of the customer.
##### Family Size: Number of individuals in the customer's family.
##### Latitude: Latitude of the customer's location.
##### Longitude: Longitude of the customer's location.
##### Output: Current status of the order (e.g., pending, confirmed, delivered).
##### Feedback: Feedback provided by the customer after receiving the order.
#### **Purpose:**
##### Explore whether there are purchasing relationships for the food sold, understanding the influence of location, age, gender, family size and occupation of the customer on the purchase of the product.

# STEP 1 | Importing Date & Libraries

In [15]:
!pip install pandas
!pip install matplotlib
!pip install geopy

Requirement already satisfied: pandas in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: matplotlib in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.21 in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: geopy in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\pichau\.virtualenvs\online_food_order-d6jetnur\lib\site-packages (from geopy) (2.0)

In [53]:
# Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from geopy.geocoders import Nominatim

# STEP 2 | Loading Data

In [17]:
df_Foods = pd.read_csv('onlinefoods.csv')

# Step 3 | Data Overview

In [30]:
print("===================================================================================")
print("Information columns")
df_Foods.info()
print("===================================================================================")
print("THERE ARE NO NULL VALUES")
print("===================================================================================")

===================================================================================
Information columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         388 non-null    int64
 1   Gender                      388 non-null    object
 2   Marital Status              388 non-null    object
 3   Occupation                  388 non-null    object
 4   Monthly Income              388 non-null    object
 5   Educational Qualifications  388 non-null    object
 6   Family size                 388 non-null    int64
 7   latitude                    388 non-null    float64
 8   longitude                   388 non-null    float64
 9   Pin code                    388 non-null    int64
 10  Output                      388 non-null    object
 11  Feedback                    388 non-null    object
 12  Unnamed: 12                 388 non-null    object
dtypes: float64(2), int64(3), object(8)
memory usage: 39.5+ KB
===================================================================================
THERE ARE NO NULL VALUES
===================================================================================

In [28]:
print("===================================================================================")
print("Describe columns")

===================================================================================
Describe columns

In [27]:
df_Foods.describe()

              Age  Family size    latitude   longitude       Pin code
count  388.000000   388.000000  388.000000  388.000000     388.000000
mean    24.628866     3.280928   12.972058   77.600160  560040.113402
std      2.975593     1.351025    0.044489    0.051354      31.399609
min     18.000000     1.000000   12.865200   77.484200  560001.000000
25%     23.000000     2.000000   12.936900   77.565275  560010.750000
50%     24.000000     3.000000   12.977000   77.592100  560033.500000
75%     26.000000     4.000000   12.997025   77.630900  560068.000000
max     33.000000     6.000000   13.102000   77.758200  560109.000000

In [29]:
print("===================================================================================")

===================================================================================

In [37]:
print("===================================================================================")
print("Duplicates rows found:", df_Foods.duplicated().sum())
print("===================================================================================")

===================================================================================
Duplicates rows found: 103
===================================================================================

In [42]:
print("===================================================================================")
print("Number of rows and columns:", df_Foods.shape)
print("===================================================================================")

===================================================================================
Number of rows and columns: (388, 13)
===================================================================================

# Step 4 | Feature Engineering

In [44]:
# Function to get a adresss based on latitude and longitude
def get_county_name(latitude, longitude):
    # Inicialized geocoder
    geolocator = Nominatim(user_agent="Online Food Order")
    # Concatenates latitude and longitude into a string in the format "latitude, longitude"
    location = f"{latitude}, {longitude}"
    # Use the geocoder to obtain the address
    address = geolocator.reverse(location)
    # Checks if the address was found
    if address:
        # Extracts the city name from the 'address' subdictionary
        county = address.raw['address'].get('county', '')  # If 'city' does not exist, returns an empty string
        return county
    else:
        return None

# Apply the function to the DataFrame to obtain city names
df_Foods['county'] = df_Foods.apply(lambda row: get_county_name(row['latitude'], row['longitude']), axis=1)

In [47]:
print("===================================================================================")
print("County column created based on latitude and longitude: count")
print("===================================================================================")

===================================================================================
County column created based on latitude and longitude: count
===================================================================================

# Step 5 | EDA Analysis

# Step 6 | Outlier Dedection

# Step 7 | Numerical Feature Distribution

# Step 7.1 | Normalization

# Step 8 | Correlation Analysis

# Step 9 | Encoding

# Step 10 | Model Building

# Base Classifier

# Fitting Classifier

# Evaluating Classifier

# Storing Reults in DF and Visualizing the Results